<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Knjiga gostov</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>

    <form method="post" action="/guestbook_poslano">
        <h3><p>Spoštovani gost!</p></h3>
    <br>
        <p>Zahvaljujemo se vam, ker ste izbrali naš hotel.</p>
        <p>Zelo bomo veseli, če nam boste zaupali svoje vtise o vašem bivanju pri nas.</p>
        <br>
    
        <br>
    
        <p>
            Ime:
            <input name="ime">
        </p>
        
        <p>
            Priimek:
            <input name="priimek">
        </p>
        
        <p>
            E-naslov:
            <input name="email">
        </p>
        
        
        <p>
            Sporočilo:
            <input name="sporocilo">
        </p>
        <br>
        <br>
        
        <p>
            <button type="submit">Pošlji mnenje</button>
        </p>

    </form>

</body>
</html>